<div class="thumbnail">
  <h1>WELCOME HOME</h3>
  <h2>Rent unique places to stay from local hosts in 190+ countries.</h4>
  <div class="overlay">
  </div>
  <video autoplay loop="loop" preload="auto" class="photo">
    <source src="//a0.muscache.com/airbnb/static/London-P1-1.mp4" type='video/mp4'>
    <source src="//a0.muscache.com/airbnb/static/London-P1-0.webm" type='video/webm'>
  </video>
  <!--<div class="photo">-->
  </div>
</div>


