
* {
  padding: 0;
  margin: 0;
}

.thumbnail {
  padding-top: 400px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
  height:200px;
}

h1 {
  position: absolute;
 
  color: white;
  font-size: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

h2{
  position: absolute;
  left:35%;
  top:54%;
  color:white;
  font-family:"Helvetica Neue", Helvetica,Arial;
  font-size:18px;
  text-align: center;
}
.overlay {
  background-color: rgb(200, 200, 200);
  transition-property: opacity;
  transition-duration: 1s;
  opacity: .5;
}

.overlay:hover {
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0;
}

h3:hover + .overlay {
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0;
}

.photo {
  position: absolute;
  object-fit: contain;
  z-index: -5;
  bottom: 0px;
  left: 0px;
  /*background-image: url("https://a1.muscache.com/airbnb/upcoming_reservations/2x1/5_keys.jpg");*/
  /*width: 688px;*/
  width: 100%;
  /*height: 344px;*/
}